---
layout: default
---
<!-- This Is The Blog Side Bar Section -->
 <section class="grid">
<div class="col-3_sm-0_xs-0">
	<img class="sideBarpicture"src="/images/aspens.jpg" alt="Picture of Vaughn and Jennifer">
	<h4>Vaughn and Jennifer</h4>
	<p class="sideBarpar">This is a little snippet about us don't know what is should say thats why I have a hottie wife</p>
	<hr />
<div class="sbIcon">
	<a class="socialIcon" href="https://www.instagram.com/traveling.trails/?hl=en"target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
	<a class="socialIcon" href="https://www.facebook.com/vaughn.gourdin"target="_blank"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
	<a class="socialIcon" href="https://www.pinterest.com/vaughngourdin/"target="_blank"><i class="fa fa-pinterest fa-2x" aria-hidden="true"></i></a>
</div>
<p class="sideBarpar">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
</div>
<div class="col-9_sm-12_sm-12">
	{{content}}
</div>
</section>
